# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.


# The configuration file needs to define the sources,
# the channels and the sinks.
# Sources, channels and sinks are defined per agent,
# in this case called 'TwitterAgent'

TwitterAgent.sources = Twitter
TwitterAgent.channels = MemChannel1 MemChannel2
TwitterAgent.sinks = HDFS Kafka

TwitterAgent.sources.Twitter.type = com.cloudera.flume.source.TwitterSource
TwitterAgent.sources.Twitter.channels = MemChannel1 MemChannel2
TwitterAgent.sources.Twitter.consumerKey = <put there your info>
TwitterAgent.sources.Twitter.consumerSecret = <put there your info>
TwitterAgent.sources.Twitter.accessToken = <put here there info>
TwitterAgent.sources.Twitter.accessTokenSecret = <put there your info>
TwitterAgent.sources.Twitter.keywords = hillary, trump

TwitterAgent.sinks.HDFS.channel = MemChannel1
TwitterAgent.sinks.HDFS.type = hdfs
TwitterAgent.sinks.HDFS.hdfs.path = hdfs://quickstart.cloudera:8020/user/flume/tweets/%Y/%m/%d/%H/
TwitterAgent.sinks.HDFS.hdfs.fileType = DataStream
TwitterAgent.sinks.HDFS.hdfs.writeFormat = Text
TwitterAgent.sinks.HDFS.hdfs.batchSize = 1000
TwitterAgent.sinks.HDFS.hdfs.rollSize = 0
TwitterAgent.sinks.HDFS.hdfs.rollCount = 10000

TwitterAgent.sinks.Kafka.channel = MemChannel2
TwitterAgent.sinks.Kafka.type = org.apache.flume.sink.kafka.KafkaSink
TwitterAgent.sinks.Kafka.topic = tweetsTopic
TwitterAgent.sinks.Kafka.batchSize = 20
TwitterAgent.sinks.Kafka.brokerList = localhost:9092

TwitterAgent.channels.MemChannel1.type = memory
TwitterAgent.channels.MemChannel1.capacity = 10000
TwitterAgent.channels.MemChannel1.transactionCapacity = 200

TwitterAgent.channels.MemChannel2.type = memory
TwitterAgent.channels.MemChannel2.capacity = 10000
TwitterAgent.channels.MemChannel2.transactionCapacity = 200

